<div class="container">
  <div class="row">

    <div class="span8 offset2">

   <div class="hero-unit" style="line-height: 18px;">

     <h1>Rainbows for Sochi</h1>
     <p>Upload a picture here (ideally Twitter profile picture at 500x500) to rainbow-ify it.</p>
<div class="row-fluid">
<div class="span6">
<h4>Twitter (automatic)</h4>
     <a class="btn btn-primary btn-large" href="/auth/twitter">Rainbow my profile pic for me</a>
     <small style="font-size:65%; line-height: 18px;">Twitter will ask for a load of permissions but all we'll do is change your profile pic.</small>
</div>
<div class="span6">
<h4>Create a rainbowed profile pic</h4>
      <%= render 'form' %>
</div>
</div>

<p>
      <div class="social-likes" data-url="http://rainbows-for-sochi.herokuapp.com/" data-title="Get a Rainbow for Sochi on your profile">
	<div class="facebook" title="Share link on Facebook">Facebook</div>
	<div class="twitter" data-via="h_carver" title="Share link on Twitter">Twitter</div>
	<div class="plusone" title="Share link on Google+">Google+</div>
      </div>
</p>

      <a href="https://twitter.com/h_carver" class="twitter-follow-button" data-show-count="false">Follow @h_carver</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
   </div>


</div>
  </div>
